@font-face {
    font-family: "Kdam Thmor Pro";
    src: url(fonts/KdamThmorPro-Regular.ttf);
}

@font-face {
    font-family: "DM Sans";
    src: url(fonts/DMSans_18pt-Regular.ttf);
}

:root {
    --roxo-iasiia: #45217D;
    --laranja-iasiia: #1B1D67;
    --ciano-iasiia: #28E7C5;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 75%;
    max-width: 1400px;

    margin: 0 auto;
}

.cabecalho {
    background-color: #C4FBF1;
    height: 127px;
    width: 100%;

    margin-top: 40px;
}

header {
    height: 200px;
}

header img {
    width: 250px;

    padding-bottom: 3%;
}

header .container-grid {
    height: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;

}

.menu a {
    font-size: 20px;
    font-family: "Kdam Thmor Pro";

    color: var(--roxo-iasiia);

    text-decoration: underline transparent;

    transition: text-decoration 100ms ease-in-out;

    padding-bottom: 4%;
}

.menu a:hover {
    text-decoration: underline;

    text-decoration-thickness: 2px;
}

.conteudo-banner {
    background-image: url(img/computador.png);



    height: 420px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-banner p {
    font-size: 40px;
    font-family: "Kdam Thmor Pro";

    color: #C4FBF1;

    text-transform: uppercase;
}

h2 {
    font-size: 26px;
    font-family: "Kdam Thmor Pro";

    text-transform: uppercase;

    color: #1B1D67;

    background-color: #C4FBF1;
    width: 200px;
    height: 150px;

    text-align: center;

    border-radius: 5px;
}

#sobre {
    height: 800px;
    padding: 600px 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#sobre h3 {
    font-size: 20px;
    font-family: "Kdam Thmor Pro";

    color: #45217D;

    text-align: center;

    padding-top: 4%;
}

#sobre p {
    font-size: 18px;
    font-family: "DM Sans";

    color: black;

    text-align: justify;

    line-height: 1.5;

    padding-top: 3%;
}


